body {
    color: #00FF41;
    background-color: black;
    font-family: cursive;
    font-size: x-large;
}

h1 {
    color: blue;
}

p {
    color: red;
}

.education {
    color: green;
    background-color: #b6b691;
}