body {
    background-color: #2e3436;
    color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}

/*LINKS*/

a {
    outline-color: transparent;
}

a:link {
    color: #c17d11;
}

a:visited {
    color: #d3994d;
}

a:focus {
    text-decoration: none;
    background: #e3b57f;
}

a:hover {
    text-decoration: none;
    background: #e3b57f;
}

a:active {
    background: #6900ff;
    color: #e3b57f;
}

/*HEADERS*/

/*CUSTOM ELEMENTS*/

.topblock {
    color: #cccccc;
    background-color: #2e3436;
    padding: 20px;
    border: 10px solid black;
    margin: 10px
}

.block1 {
    color: #cccccc;
    background-color: #3d3b35;
    padding: 20px;
    border: 10px solid black;
    margin: 10px
}

.block2 {
    color: #cccccc;
    background-color: #504e49;
    padding: 20px;
    border: 10px solid black;
    margin: 10px
}